<nav class="w-full mb-4">
    <ul class="space-y-2 detached-breadcrumb">
        <li class="text-xl font-semibold text-purple dark:text-white" translate>My Account</li>
    </ul>
</nav>


<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid-cols-1 gap-4 lg:grid-cols-2">
        <div class="card">


            <div class="flex flex-row-reverse" translate>
                <button type="button" translate (click)="openModel()"
                        class="btn bg-purple border-purple text-white hover:bg-purple/[0.85] hover:border-purple/[0.85]">
                    <i class="ri-edit-fill">
                    </i>
                    Change Password
                </button>
            </div>

            <form [formGroup]="form" class="space-y-2">
                <div class="grid grid-cols-1 gap-4 md:grid-cols-2">

                    <!-- Name Arabic -->
                    <div class="space-y-2">
                        <app-label [class]='"mb-4 text-base font-semibold text-black capitalize dark:text-white/80"'
                                   for="nameAr" text="Name Arabic"></app-label>
                        <app-input-text [class]="'form-input'" formControlName="nameAr"
                                        text="Name Arabic"></app-input-text>
                    </div>

                    <!-- Name English -->
                    <div class="space-y-2">
                        <app-label [class]='"mb-4 text-base font-semibold text-black capitalize dark:text-white/80"'
                                   for="nameEn" text="Name English"></app-label>
                        <app-input-text [class]="'form-input'" formControlName="nameEn"
                                        text="Name English"></app-input-text>
                    </div>

                    <!-- Email -->
                    <div class="space-y-2">
                        <app-label [class]='"mb-4 text-base font-semibold text-black capitalize dark:text-white/80"'
                                   for="email" text="Email"></app-label>
                        <app-input-text [class]="'form-input'" formControlName="email" text="Email"></app-input-text>
                    </div>

                    <!-- Mobile Number -->
                    <div class="space-y-2">
                        <app-label [class]='"mb-4 text-base font-semibold text-black capitalize dark:text-white/80"'
                                   for="mobileNumber" text="Mobile Number"></app-label>
                        <app-input-text [class]="'form-input'" formControlName="mobileNumber"
                                        text="Mobile Number"></app-input-text>
                    </div>

                    <!-- Department -->
                    <div class="space-y-2">
                        <app-label [class]='"mb-4 text-base font-semibold text-black capitalize dark:text-white/80"'
                                   for="department" text="Department"></app-label>
                        <app-auto-complate-component [lookupCode]="'Department'" class="form-input"
                                                     formControlName="departmentId" text="Department"
                                                     [disabled]="true"></app-auto-complate-component>
                    </div>

                    <!-- Role (Conditionally Visible) -->
                    <div class="space-y-2" *ngIf="showData">
                        <app-label [class]='"mb-4 text-base font-semibold text-black capitalize dark:text-white/80"'
                                   for="role" text="Role"></app-label>
                        <app-auto-complate-component [lookupCode]="'Role'" class="form-input" formControlName="roleId"
                                                     text="Role" [disabled]="true"></app-auto-complate-component>
                    </div>

                </div>
            </form>
        </div>
        <br />
        <br />

        <div class="grid grid-cols-1 gap-4 md:grid-cols-1">
            <div class="flex flex-row-reverse">
                <app-button [text]="'Back'" (click)="back()"
                            [class]='"btn mr-4 bg-purple border-purple text-white hover:bg-purple/[0.85] hover:border-purple/[0.85]"'></app-button>

            </div>

        </div>

    </div>
</div>

<div class="fixed inset-0 bg-black/80 z-50 overflow-y-auto" [ngClass]="{'hidden': !isModalOpen}">
    <div class="flex items-start justify-center min-h-screen px-4">
        <div [hidden]="!isModalOpen" @fadeInOut
             class="relative w-full max-w-5xl p-0 my-8 overflow-hidden bg-white border rounded-lg shadow-3xl border-black/10 dark:bg-darklight dark:border-darkborder">
            <div
                class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">

                <div class="p-5 space-y-4">

                    <div class="card">
                        <form [formGroup]="updatePasswordform" class="space-y-2">
                            <div class="grid grid-cols-1 gap-4 md:grid-cols-4">

                                <div class="space-y-2">
                                    <app-label
                                        [class]='"mb-4 text-base font-semibold text-black capitalize dark:text-white/80"'
                                        for="oldPassword" text="oldPassword"></app-label>
                                    <app-input-text [class]="'form-input'" formControlName="oldPassword"
                                                    text="oldPassword"
                                    ></app-input-text>
                                </div>

                                <div class="space-y-2">
                                    <app-label
                                        [class]='"mb-4 text-base font-semibold text-black capitalize dark:text-white/80"'
                                        for="newPassword" text="newPassword"></app-label>
                                    <app-input-text [class]="'form-input'" formControlName="newPassword"
                                                    text="newPassword"
                                    ></app-input-text>
                                </div>

                                <div class="space-y-2">
                                    <app-label
                                        [class]='"mb-4 text-base font-semibold text-black capitalize dark:text-white/80"'
                                        for="confirmPassword" text="confirmPassword"></app-label>
                                    <app-input-text [class]="'form-input'" formControlName="confirmPassword"
                                                    text="confirmPassword"
                                    ></app-input-text>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="flex items-center justify-end gap-4">
                        <button type="button"
                                class="transition-all duration-300 border rounded-md btn text-danger border-danger hover:bg-danger hover:text-white"
                                (click)="closeModal()" translate>Discard
                        </button>
                        <button type="button" [disabled]="updatePasswordform.invalid"
                                class="transition-all duration-300 border rounded-md btn text-purple border-purple hover:bg-purple hover:text-white"
                                (click)="SaveUpdatePassword()" translate>Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
