<div class="bg-[#f9fbfd] text-black dark:bg-darklight  bg-cover bg-no-repeat">

    <!-- Start Header -->
    <!-- End Header -->

    <!-- Start Page Content -->
    <section class="min-h-[calc(100vh-134px)] flex items-center justify-center">
        <div class="max-w-[1440px] mx-auto text-center px-4">
            <div class="mt-10 space-y-4">
                <h2 class="text-3xl font-bold md:text-5xl dark:text-white">403 forbidden error</h2>
                <p class="text-base text-muted dark:text-darkmuted">Sorry, you don't Have permission to access These Page.</p>
                <img src="assets/images/403.png" class="mx-auto sm:max-w-xs" alt="">
                <div>

                </div>
            </div>
        </div>
    </section>
    <!-- End Page Content -->

    <!-- Start Footer -->

    <!-- End Footer -->

</div>
