<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid-cols-1 gap-4 lg:grid-cols-2">
        <div class="card">
            <form [formGroup]="form" class="space-y-2">
                <div class="grid grid-cols-1 gap-4 md:grid-cols-4">

                    <div class="space-y-2">
                        <app-label [class]='"mb-4 text-base font-semibold text-black capitalize dark:text-white/80"' for="nameAr" text="Name Arabic"></app-label>
                        <app-input-text [class]="'form-input'" formControlName="nameAr" text="Name Arabic"></app-input-text>
                    </div>
                    <div class="space-y-2">
                        <app-label [class]='"mb-4 text-base font-semibold text-black capitalize dark:text-white/80"' for="nameEn" text="Name English"></app-label>
                        <app-input-text [class]="'form-input'" formControlName="nameEn" text="Name English"></app-input-text>
                    </div>
                    <div class="space-y-2">
                        <app-label [class]='"mb-4 text-base font-semibold text-black capitalize dark:text-white/80"' for="email" text="Email"></app-label>
                        <app-input-text [class]="'form-input'" formControlName="email" text="Email"></app-input-text>
                    </div>

                    <div class="space-y-2">
                        <app-label [class]='"mb-4 text-base font-semibold text-black capitalize dark:text-white/80"' for="mobileNumber" text="Mobile Number"></app-label>
                        <app-input-text [class]="'form-input'" formControlName="mobileNumber" text="Mobile Number"></app-input-text>
                    </div>


                    <div class="space-y-2">

                        <app-label [class]='"mb-4 text-base font-semibold text-black capitalize dark:text-white/80"' for="department" text="Department"></app-label>
                        <app-auto-complate-component [lookupCode]="'Department'" class="form-input"
                                                     formControlName="departmentId" text="Department"></app-auto-complate-component>
                    </div>

                    <div class="space-y-2" *ngIf="showData">
                        <app-label [class]='"mb-4 text-base font-semibold text-black capitalize dark:text-white/80"' for="role" text="Role"></app-label>
                        <app-auto-complate-component [lookupCode]="'Role'" class="form-input"
                                                     formControlName="roleId" text="Role"></app-auto-complate-component>
                    </div>

<!--                    <div class="uk-margin">-->
<!--                        <app-label for="userId" text="User"></app-label>-->
<!--                        <app-select-user formControlName="userId" class="form-input" [child]="post" text="User"></app-select-user>-->
<!--                    </div>-->
<!--                    <div class="uk-margin">-->
<!--                        <app-label for="name" text="Post"></app-label>-->
<!--                        <app-select-post formControlName="name" [child]="comment" #post text="Post"></app-select-post>-->
<!--                    </div>-->
<!--                    <div class="uk-margin">-->
<!--                        <app-label for="email" text="Comment"></app-label>-->
<!--                        <app-select-comment formControlName="email" #comment text="Comment"></app-select-comment>-->
<!--                    </div>-->


                </div>
                <br/>
                <div class="flex flex-row-reverse">

                    <app-button text="Save" [disabled]="form.invalid" (click)="save()"
                                [class]='"btn bg-purple border-purple text-white hover:bg-purple/[0.85] hover:border-purple/[0.85]"'></app-button>

<!--                    <button type="button"-->
<!--                            class="btn bg-purple border-purple text-white hover:bg-purple/[0.85] hover:border-purple/[0.85]">-->
<!--                        Save-->
<!--                    </button>-->
                </div>
            </form>
        </div>
    </div>
</div>
