@font-face {
    font-family: 'Droid Arabic Kufi';
    // src: url('../fonts/cerebrisans-regular.eot');

    src: local('Droid Arabic Kufi'), url('../../fonts/Droid Arabic Kufi Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    // src: url('../fonts/cerebrisans-medium.eot');

    src: local('Droid Arabic Kufi'), url('../../fonts/Droid Arabic Kufi Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    // src: url('../fonts/cerebrisans-semibold.eot');

    src: local('Droid Arabic Kufi'), url('../../fonts/Droid Arabic Kufi Regular.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    // src: url('../fonts/cerebrisans-bold.eot');

    src: local('Droid Arabic Kufi'), url('../../fonts/Droid Arabic Kufi Regular.ttf') format('truetype');
    font-weight: 700;
}
