USE [master]
GO
/****** Object:  Database [TMS]    Script Date: 30/12/2024 6:26:29 AM ******/
CREATE DATABASE [TMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TMS]
GO
/****** Object:  Schema [TMS]    Script Date: 30/12/2024 6:26:29 AM ******/
CREATE SCHEMA [TMS]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/12/2024 6:26:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TMS].[AUTHS]    Script Date: 30/12/2024 6:26:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMS].[AUTHS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOGIN] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](1000) NOT NULL,
	[SALT] [uniqueidentifier] NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[CREATED_BY] [nvarchar](max) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[MODIFIED_BY] [nvarchar](max) NULL,
	[MODIFIED_DATE] [datetime2](7) NULL,
	[IS_DELETED] [bit] NOT NULL,
	[CODE] [nvarchar](max) NULL,
 CONSTRAINT [PK_AUTHS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TMS].[LOOKUP_VALUES]    Script Date: 30/12/2024 6:26:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMS].[LOOKUP_VALUES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PARENT_ID] [bigint] NULL,
	[ORDER] [bigint] NULL,
	[IS_SYSTEM] [bit] NOT NULL,
	[COLOR] [nvarchar](max) NULL,
	[LOOKUP_ID] [bigint] NULL,
	[CREATED_BY] [nvarchar](max) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[MODIFIED_BY] [nvarchar](max) NULL,
	[MODIFIED_DATE] [datetime2](7) NULL,
	[IS_DELETED] [bit] NOT NULL,
	[CODE] [nvarchar](max) NULL,
	[VALID_FROM] [datetime2](7) NULL,
	[VALID_TO] [datetime2](7) NULL,
	[NAME_AR] [nvarchar](max) NULL,
	[NAME_EN] [nvarchar](max) NULL,
 CONSTRAINT [PK_LOOKUP_VALUES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TMS].[LOOKUPS]    Script Date: 30/12/2024 6:26:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMS].[LOOKUPS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PARENT_ID] [bigint] NULL,
	[LINKS] [bigint] NULL,
	[IS_SYSTEM] [bit] NOT NULL,
	[DATA_TYPE] [nvarchar](max) NULL,
	[CREATED_BY] [nvarchar](max) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[MODIFIED_BY] [nvarchar](max) NULL,
	[MODIFIED_DATE] [datetime2](7) NULL,
	[IS_DELETED] [bit] NOT NULL,
	[CODE] [nvarchar](max) NULL,
	[VALID_FROM] [datetime2](7) NULL,
	[VALID_TO] [datetime2](7) NULL,
	[NAME_AR] [nvarchar](max) NULL,
	[NAME_EN] [nvarchar](max) NULL,
 CONSTRAINT [PK_LOOKUPS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TMS].[TASKS]    Script Date: 30/12/2024 6:26:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMS].[TASKS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](max) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[STATUS] [int] NULL,
	[PRIORITY] [int] NULL,
	[DUE_DATE] [datetime2](7) NULL,
	[ASSIGNED_TO_ID] [bigint] NULL,
	[CREATED_BY] [nvarchar](max) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[MODIFIED_BY] [nvarchar](max) NULL,
	[MODIFIED_DATE] [datetime2](7) NULL,
	[IS_DELETED] [bit] NOT NULL,
	[CODE] [nvarchar](max) NULL,
 CONSTRAINT [PK_TASKS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TMS].[USERS]    Script Date: 30/12/2024 6:26:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMS].[USERS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [nvarchar](max) NULL,
	[NAME_AR] [nvarchar](250) NOT NULL,
	[NAME_EN] [nvarchar](250) NOT NULL,
	[EMAIL] [nvarchar](250) NOT NULL,
	[MOBILE_NUMBER] [nvarchar](250) NOT NULL,
	[STATUS] [int] NOT NULL,
	[CREATED_BY] [nvarchar](max) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[MODIFIED_BY] [nvarchar](max) NULL,
	[MODIFIED_DATE] [datetime2](7) NULL,
	[IS_DELETED] [bit] NOT NULL,
	[CODE] [nvarchar](max) NULL,
	[ROLE] [int] NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AUTHS_LOGIN]    Script Date: 30/12/2024 6:26:29 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AUTHS_LOGIN] ON [TMS].[AUTHS]
(
	[LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AUTHS_SALT]    Script Date: 30/12/2024 6:26:29 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AUTHS_SALT] ON [TMS].[AUTHS]
(
	[SALT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AUTHS_USER_ID]    Script Date: 30/12/2024 6:26:29 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AUTHS_USER_ID] ON [TMS].[AUTHS]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LOOKUP_VALUES_LOOKUP_ID]    Script Date: 30/12/2024 6:26:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_LOOKUP_VALUES_LOOKUP_ID] ON [TMS].[LOOKUP_VALUES]
(
	[LOOKUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LOOKUP_VALUES_PARENT_ID]    Script Date: 30/12/2024 6:26:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_LOOKUP_VALUES_PARENT_ID] ON [TMS].[LOOKUP_VALUES]
(
	[PARENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LOOKUPS_PARENT_ID]    Script Date: 30/12/2024 6:26:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_LOOKUPS_PARENT_ID] ON [TMS].[LOOKUPS]
(
	[PARENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TASKS_ASSIGNED_TO_ID]    Script Date: 30/12/2024 6:26:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_TASKS_ASSIGNED_TO_ID] ON [TMS].[TASKS]
(
	[ASSIGNED_TO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_USERS_EMAIL]    Script Date: 30/12/2024 6:26:29 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_USERS_EMAIL] ON [TMS].[USERS]
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [TMS].[USERS] ADD  DEFAULT ((0)) FOR [ROLE]
GO
ALTER TABLE [TMS].[AUTHS]  WITH CHECK ADD  CONSTRAINT [FK_AUTHS_USERS_USER_ID] FOREIGN KEY([USER_ID])
REFERENCES [TMS].[USERS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [TMS].[AUTHS] CHECK CONSTRAINT [FK_AUTHS_USERS_USER_ID]
GO
ALTER TABLE [TMS].[LOOKUP_VALUES]  WITH CHECK ADD  CONSTRAINT [FK_LOOKUP_VALUES_LOOKUP_VALUES_PARENT_ID] FOREIGN KEY([PARENT_ID])
REFERENCES [TMS].[LOOKUP_VALUES] ([ID])
GO
ALTER TABLE [TMS].[LOOKUP_VALUES] CHECK CONSTRAINT [FK_LOOKUP_VALUES_LOOKUP_VALUES_PARENT_ID]
GO
ALTER TABLE [TMS].[LOOKUP_VALUES]  WITH CHECK ADD  CONSTRAINT [FK_LOOKUP_VALUES_LOOKUPS_LOOKUP_ID] FOREIGN KEY([LOOKUP_ID])
REFERENCES [TMS].[LOOKUPS] ([ID])
GO
ALTER TABLE [TMS].[LOOKUP_VALUES] CHECK CONSTRAINT [FK_LOOKUP_VALUES_LOOKUPS_LOOKUP_ID]
GO
ALTER TABLE [TMS].[LOOKUPS]  WITH CHECK ADD  CONSTRAINT [FK_LOOKUPS_LOOKUPS_PARENT_ID] FOREIGN KEY([PARENT_ID])
REFERENCES [TMS].[LOOKUPS] ([ID])
GO
ALTER TABLE [TMS].[LOOKUPS] CHECK CONSTRAINT [FK_LOOKUPS_LOOKUPS_PARENT_ID]
GO
ALTER TABLE [TMS].[TASKS]  WITH CHECK ADD  CONSTRAINT [FK_TASKS_USERS_ASSIGNED_TO_ID] FOREIGN KEY([ASSIGNED_TO_ID])
REFERENCES [TMS].[USERS] ([ID])
GO
ALTER TABLE [TMS].[TASKS] CHECK CONSTRAINT [FK_TASKS_USERS_ASSIGNED_TO_ID]
GO
/****** Object:  StoredProcedure [dbo].[GetTasksByStatus]    Script Date: 30/12/2024 6:26:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTasksByStatus]
    @Status int,
    @UserId nvarchar(450),
    @IsAdmin bit
AS
BEGIN
    IF @IsAdmin = 1
        SELECT [ID],[TITLE],[DESCRIPTION],[STATUS],[PRIORITY],[ASSIGNED_TO_ID] as [ASSIGNEDTOID] , [DUE_DATE] as [DUEDATE] FROM [TMS].[TASKS] WHERE [STATUS] = @Status
    ELSE
        SELECT [ID],[TITLE],[DESCRIPTION],[STATUS],[PRIORITY],[ASSIGNED_TO_ID] as [ASSIGNEDTOID] , [DUE_DATE] as [DUEDATE] FROM [TMS].[TASKS] WHERE [STATUS] = @Status AND [ASSIGNED_TO_ID] = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[GetTasksDueToday]    Script Date: 30/12/2024 6:26:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTasksDueToday]
    @UserId nvarchar(450),
    @IsAdmin bit
AS
BEGIN
    IF @IsAdmin = 1
         SELECT [ID],[TITLE],[DESCRIPTION],[STATUS],[PRIORITY],[ASSIGNED_TO_ID] as [ASSIGNEDTOID] , [DUE_DATE] as [DUEDATE] FROM [TMS].[TASKS]
        WHERE CAST([DUE_DATE] AS DATE) = CAST(GETUTCDATE() AS DATE)
    ELSE
        SELECT [ID],[TITLE],[DESCRIPTION],[STATUS],[PRIORITY],[ASSIGNED_TO_ID] as [ASSIGNEDTOID] , [DUE_DATE] as [DUEDATE] FROM [TMS].[TASKS] 
        WHERE CAST([DUE_DATE] AS DATE) = CAST(GETUTCDATE() AS DATE)
        AND [ASSIGNED_TO_ID] = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserTaskCounts]    Script Date: 30/12/2024 6:26:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserTaskCounts]
AS
BEGIN
    SELECT 
        u.Id as [ASSIGNEDTOID],
        u.[USER_NAME] as [USERNAME],
        COUNT(t.Id) as TaskCount,
        SUM(CASE WHEN t.Status = 3 THEN 1 ELSE 0 END) as CompletedTasks
    FROM [TMS].[USERS] u
    LEFT JOIN [TMS].[TASKS] t ON u.Id = t.[ASSIGNED_TO_ID]
    GROUP BY u.Id, u.[USER_NAME]
END
GO
USE [master]
GO
